spring:
  profiles:
    active: dev
  jpa:
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
  output.ansi.enabled: ALWAYS

app:
  jwt:
    secretKey: ${JWT_SECRET}
    header:
      name: Authorization
      prefix: Bearer